body {
  margin: 10rem auto;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #7c4747;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.layout-score {
  display: flex;
  flex-direction: row;
}

.display-score {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 50px;
}

.noticeScore {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1.25rem;
}

.add-score {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#refresh {
  width: 35%;
  margin-left: auto;
  height: 35px;
}

h2 {
  margin-top: 0;
}

.add-score > input {
  height: 2.1875rem;
  margin-bottom: 1.25rem;
}

#add {
  width: 30%;
  align-self: flex-end;
  height: 30px;
}

#add:hover {
  background-color: rgb(20, 82, 20);
}

h1 {
  margin-bottom: 3.75rem;
  font-size: 50px;
}

.detailScore {
  border: 2px solid black;
  margin-left: 20px;
}

.detailScore ul {
  list-style: none;
  margin: auto 0;
  padding-left: 0;
}

.detailScore ul li {
  height: 30px;
  padding-left: 5px;
  padding-top: 4%;
}

.detailScore ul li:nth-child(even) {
  background-color: #e7e9eb;
}
